<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coffee Order</title>
    <!-- Load Poppins font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
<h1>☕ Hi! Welcome 😊</h1>
<p>Can I get your order?</p>

<form action="/order" method="post">
    <fieldset>
        <legend> 📝 Menu</legend>

        <label for="coffeeCount">☕ Coffee:</label>
        <input type="number" id="coffeeCount" name="coffeeCount"
               min="0" max="2147483647" value="0" step="1" required>
        <br><br>

        <label for="greenTeaCount">🍵 Green Tea:</label>
        <input type="number" id="greenTeaCount" name="greenTeaCount"
               min="0" max="2147483647" value="0" step="1" required>
        <br><br>

        <label for="strawberryCount">🍓 Strawberry:</label>
        <input type="number" id="strawberryCount" name="strawberryCount"
               min="0" max="2147483647" value="0" step="1" required>
    </fieldset>

    <br>
    <button type="submit">🛒 Order</button>
</form>
</body>
</html>
